 body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: black;
     background-image: url(stars.jpg);
} 
#viewDiv
 {
  margin: 5vh;
  padding: 0;
  width: 100vh;
  height: 80vh;
  color: #323232;
}

#result{
  background-image: linear-gradient(to bottom right,  rgb(193, 243, 243) 30%, white 100% );
  margin: 5vh;
  padding: 5vh;
  height: 60vh;
}
#col{
  padding:0;
}
#heading{
    margin: 5vh;
    padding: 5vh;
    font-size: xx-large;
    font-weight: 300;
    background-color: rgba(0, 255, 255, 0.5);
}

#viewDiv canvas {
  filter: saturate(1.4) drop-shadow(0 0 100px white);
}

#search, #btn{
  height: 5vh;
  
  border-radius: 5px;
}

#search{
  padding: 1vh;
  width: 20vh;
}